@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,700i|Philosopher:400,700,700i');
body {
	background-color: white;
	color: black;
}
li{
	font-family: 
}
body {
	margin: 0;
}
header{
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height:50px;
}
header h1 {
display: inline;
font-family: 'Arvo', serif;
font-weight: 400;
font-size: 30px;
float:left;
margin-top: 0px;
margin-right: 10px;

}
nav ul{
	display:inline;
	padding: 0px;
	float : left;
}
nav ul li{
	display:inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin:12px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
#nav{
	 font-family: 'Philosopher', sans-serif;
}
.homered{
	background-color: red;
	padding: 30px 10px 16px 12px;
}
.divider{
	background-color: red;
	height: 5px;
}
.homeblack:hover{
	background-color: blue;
	padding: 30px 10px 16px 12px;
}
.fwimage1 {
	background-image: url(image/Tulips.jpg);
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;

}
.homesub{
	font-family: 'Philosopher', sans-serif;
	margin: 0;
	padding: 5% 5% 0% 5%;
	font-size: 18px;
	color: red;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}
.buttonhome{
margin: 0% 0% 0% 55%;
background-color: yellow;
color: black;
border: none;
height: 50px;
font-size: 1.4em;
padding: 0 1em;
cursor: pointer;
outline: none;
font-family: 'Philosopher', sans-serif;
font-weight: 900;
}
span {
color:red
}

h2 {
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}

hr {
border:0;
border-bottom:1px solid;
margin:10px -40px;
margin-bottom:30px
}

#login {
margin: auto;
width:450px;
border-radius:10px;
border:2px solid #ccc;
padding:10px 40px 25px;
background-color:#b6e6ff;
}

input[type=text],input[type=password] {
width:96.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:20px;
}

input[type=submit] {
width:100%;
background-color:#2f90ff;
color:#fff;
border:2px solid #white;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
}

#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}

#logout {
float:right;
padding:5px;
border:dashed 1px gray
}

a {
text-decoration:none;
color:#6495ed
}

i {
color:#6495ed
}